ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  border: 2px solid transparent;
}

p {
  margin: 0;
}

